<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="GameRentalDB"
             providerName="System.Data.SqlClient"
             connectionString="Server=WIN-5741CGBKAVU\MSSQLSERVER22;Database=GameRentalSystem;Integrated Security=True;" />
	</connectionStrings>
</configuration>